html {
  min-width: fit-content;
  background-color: var(--background-colour);
  background-image: var(--background-image);
  direction: __MSG_@@bidi_dir__;
}
body {
  margin: 0;
  color: var(--cr-primary-text-colour);
  font-family: Roboto,'Segoe UI',Arial,'Microsoft Yahei',sans-serif;
  font-size: 81.25%;
}
button {
  border: none;
  border-top: var(--cr-separator-line);
  background: transparent;
  cursor: pointer;
  color: var(--text-colour);
  font-weight: 500;
  padding: 8px 16px;
  width: 100%;
  min-width: fit-content;
  white-space: nowrap;
  height: 32px;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
button:hover {
  background-color: var(--hover-bg-colour);
}
button:active {
  background: var(--active-bg);
}
button .ink {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
button .ink .ripple {
  border-radius: 50%;
  background-color: var(--paper-button-ink-colour);
  position: absolute;
  top: 0;
  left: 0;
  opacity: var(--ripple-opacity);
  pointer-events: none;
  will-change: height, transform, width;
}
hr {
  margin: 0;
  border: var(--cr-separator-line);
}
.line {
  border-top: var(--cr-separator-line);
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 0 20px;
  line-height: 154%;
  justify-content: space-between;
  white-space: nowrap;
}
.line:first-child {
  border-top: none;
}
.line.tip {
  min-height: 0;
  background-color: var(--md-select-bg-colour);
  cursor: help;
}
.line > :not(:first-child) {
  -webkit-margin-start: 1em;
  margin-inline-start: 1em;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-colour);
}
::-webkit-scrollbar-track-piece {
  background-color: var(--scroll-bar-background-colour);
}
